.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right, #eef3ff, #f7faff); */
}

.form-container {
  width: 90%;
  max-width: 1100px;
  background: white;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.form-section {
  padding: 10px 20px;
  border-right: 1px solid #eee;
}

.form-section:last-child {
  border-right: none;
}

h2 {
  font-weight: 700;
  color: #383838;
}

button {
  font-size: 18px;
  border-radius: 10px;
}
